@use 'variables' as vars;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-family: vars.$font-main;
  background-color: vars.$color-bg; 
  color: vars.$color-text;
}